

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    background-color: #ffffff;
    font-size: 15px;
    color: #363636;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'roboto', sans-serif;
    font-weight: 300;
}
/*==========================================
PRE LOADER 
==========================================*/
img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
ol,
ul {
    list-style: none;
    padding: 0;
}
img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Lane', sans-serif;
    font-weight: 300;
    margin: 0;
}
.heading h4,
h5 {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1rem;
}
p:last-child {
    margin-bottom: 0px;
}



/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #ffffff;
    background-color: #464646;

}
.btn {
    margin-right: 15px;
}

.btn-default:active, .btn-default:hover  {
    background: transparent;
}
.btn-lg,
.btn-group-lg > .btn {
    padding: 10px 30px;
    font-size: 1.8rem;

}
.btn-md,
btn-group-md > .btn {
    padding: 8px 20px;
    font-size: 1.2rem;

}

.btn-primary {
    color: #ffffff;
}
.btn-primary:active,
.btn-primary:hover {
    background: #ffffff;
}

.btn-default:before,
.btn-default:after {
    background-color: #ffffff;
}
.btn-default:focus {
    background-color: #ffffff;
    border-color: transparent;
}
.btn-default:hover {
    border-color: #ffffff;
    color: #f56363;
    background-color: #ffffff;
}
.btn-primary {
    background-color: #464646;
    color: #ffffff;
    border:0;
    padding:10px 20px;
    margin-top: 15px;
}
.btn-primary span i{
    padding-left:7px;
}
.btn-primary:before,
.btn-primary:after {
    background-color: #ffffff;
}
.btn-primary:focus {
    background-color: #f56363;
    border-color: transparent;
}
.btn-primary:hover {
    color: #f56363;
}
/*  Header CSS*/
nav {
    width:100%;
    height:15vh;
         margin-left: -8px;
    background-color:#007bff; 
    /* padding-bottom: -100px;
    margin-bottom: -100px; */
    position: fixed;
    top:0;
    z-index:1;
    display: block;
   
}

    
    #logo{
      width:60px; 
     display:inline-block;
     border: 3px ridge #000000;
     border-radius: 100px;
     margin: 0.7rem;
     
    }
    .name{
      margin-top: 15px;
      margin-left:5px;
      padding-top: 0;
      position: relative;
      bottom:30px;
      display:inline-block;
           font-size:20px;
      color:#ffffff;
      font-family: 'Times new roman';
    }
    
     nav ul{
      width:100%;
      height:40vh;
      top:80px;
      opacity:0.8;
      float: right;
         position: relative;
         bottom:450px;
         margin:0.5em;
           left:600px;
           background-color: transparent;
    }
    
    nav ul li{
      list-style-type: none;
      margin-top: 4em;
      color:white;
      display:inline;
      margin-bottom: -1em; 
       padding-right: 1.5em;
       position: relative;
       bottom:170px;
    }
    nav ul li a{
      font-size:1.25rem;
      color: white;
      /* text-shadow:2px 1px lightsalmon; */
        text-decoration: none;
        font-weight: bolder;
        opacity:0.8;
    }
    nav ul li a:hover{
        opacity:1;
        color:white;
        font-size:1.75rem;
      } 


/*
Section Title Bar CSS
*/
.heading {
    margin-bottom: 4rem;
    margin-top:4rem;
}

.heading .title h4{
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    text-align:center;
    background: #464646;
    color: #fff;
    padding:10px 60px;
    display: inline;
    box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
    -webkit-box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
    -moz-box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
    -ms-box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
    -o-box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
}
.heading .title.arrow-right{
    margin-top: -130px;
}
.heading .title.arrow-right img{
    margin-top: 90px;
    margin-left: -10px;
}
.heading .title.arrow-left{
    margin-top: -130px;
}
.heading .title.arrow-left img{
    margin-top: 90px;
    margin-right: -10px;
}

/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

/* Our Portfolio Section*/

.portfolio-wrap .portfolio{

    display: block;
    overflow:hidden;
}
.portfolio-wrap .portfolio:last-child {
    margin-bottom: 0px;
}

.portfolio{
    margin-bottom:30px;
}
.portfolio .portfolio-item{
    margin-bottom:30px;
}
.portfolio .portfolio-item h4{
    font-size:18px;
    font-weight:bold;
    text-transform:uppercase;
    color:#252525;
}
.portfolio .portfolio-item .pt-btn{
    background:#ffc038;
    padding:18px 40px;
    color:#464646;
    font-weight:bold;
    text-transform:uppercase;
    transition:.5s;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
    -webkit-box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
    -moz-box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
    -ms-box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
    -o-box-shadow:2px 2px 2px 0 rgba(0,0,0, .5);
}
.portfolio .portfolio-item .pt-btn:hover{
    background:#464646;
    color:#fff;
}
/*CONTACT SECTION STYLING*/
#ContactUs div{
				display:inline;
				width:500px;
				float:left;
				margin-left:100px;
				margin-top:20px;
			}
#ContactUs h4{
				text-align:center;
				color:#c64756;
				font-family:"Arial", serif;
				font-size:17px;
			}
#ContactUs h1{
				text-align:center;
				font-size:30px;
			}
#ContactUs pre{
				text-align:center;
				font-size:20px;
			}
#ContactUs div .d1{
				border: solid;;
			}
			
#ContactUs  h3{
				font-size:30px;
				text-shadow:2px right black;
				font-family: 'New Tegomin', serif;
			}
#ContactUs .d1 span .t1, #ContactUs .d1 span .t2{
				height:40px;
				background:linear-gradient(15deg, #a2b29f, #0000);
				border-radius:20px;
			}
#ContactUs .d1 span .t3{
				background:#e7e6e1;
				margin-left:90px;
				width:260px;
				height:30px;
				border-radius:15px;
			}
/*  Footer CSS*/
 footer{
        text-align: center;
        background-color:#000000;
        width:1267px;
        position: relative;
        left:-5px;
        height:60vh;
        margin:0 -500px 0 -7px;
      }
      
      footer ul li{
        list-style: none;
        font-size: 1.25rem;
        color:#e1e5df;
        text-align: center;
      }
      
      footer ul li a{
        color:#E1e5df;
        text-decoration: none;
      }
      footer h2{
        font-size: 1.75rem;
        color: #d9dfd7;
        text-align: center;
        padding: 20px 10px 0 30px;
        font-family: Arial;
      }
      .col .fa {
        padding: 8px;
        width: 40px;
        height:40px;
        margin:0 8px 20px 8px;
        text-align: center;
        text-decoration: none;
        border-radius: 100%;
        background-color: darkblue;
        color: #ffffff;
      }
      @keyframes animate1{
        from{
          width: 10px;
        }
        to{
          width:400px;
        }
      }
      #line{
        animation-name: animate1;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        border-radius: 100px;
        border:2px solid lightslategray;
        position: relative;
        top:170px;
        right:400px;
      }
      footer p{
        padding-top: 180px;
        color:#d9dfd7;
        font-size: 1rem;
      }
      .col{
        width: 30%;
        height: auto;
        float: left;
        margin-top: -20px;
      }
